<div>
  <h1>User Details by <%= @user.name %> (<%= @user.id %>)</h1>

  <div class="d-flex align-items-center">
    <div class="w-25" style="width: 120px;">
      <img src=<%= @user.photo %> class="img-thumbnail"/>
    </div>
    <div class="w-25">
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
    <div>
      <h2>Bio: </h2>
      <p><%= @user.bio %> </p>
    </div>
  </div>

  <% if current_user.id == @user.id %>
    <div>
      <%= link_to "Add New Post", "/users/#{@user.id}/posts/new" %>
    </div>
  <% end %>

  <div>
    <ul>
      <% @user.recent_posts.each do |post| %>
        <li class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3><%= link_to post.title, user_post_path(@user.id, post) %></h3>
            <div>
              Comments: <%= post.comments_counter%>
              Likes: <%= post.likes_counter%>
            </div>
          </div>
          <div class="card-body">
            <p><%= post.text%></p>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to "See all posts", user_posts_path(@user) %>
  </div>

</div>
